.spendings_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 20px;
}

.container {
    width: 95%;
    max-width: 1060px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.actions_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    padding-block: 50px;
    background-color: white;
    border-radius: 0px 0px 30px 30px;
    box-shadow: 0px 10px 60px 0px #AAB2C533;
    overflow: hidden;
    box-sizing: border-box;
}